{{> menu active="about"}}
<section class="section">
  <div class="is-3 has-text-centered">
    <h3 class="title">
      {{>icons/map-marker}} Place Mark
    </h3>
    <div class="section">
      <div>
        Place Mark Services Inc.
      </div>
      <div class="mt-5 is-size-3">
        {{>icons/map-location-dot}}
      </div>
    </div>
  </div>
</section>