{{> menu active="dashboard"}}

<section class="section p-2">
  <div class="box m-0">
    <div class="is-size-3 is-uppercase" style="text-align: center;">
      Interesting Points
    </div>
  </div>
  {{> list-points}}
</section>
