{{> menu}}
<section class="section p-2">
  <div class="has-text-centered mb-4 mt-0 py-1">
    <div class="columns has-text-centered mt-2" style="border-bottom-style: ridge;">
      <div class="column is-1">
        <a class="button is-white" href="/point/{{point._id}}">{{>icons/back}}</a>
      </div>
      <div class="column is-auto">
        <div class="title mr-6 pr-7 is-capitalized">
          {{point.name}}
          <div class="columns  is-size-6 has-text-centered mt-5">
            <div class="column">
              Lat: 
            </div>
            <div class="column mr-6 pr-6">
              Lon: 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> update-point}}
</section>