{{> menu active="user"}}

<section class="section">
  <div class="box has-background-success-light">
    <div class="title has-text-centered">
      User Account
    </div>
  </div>
  {{>user-account}}
  <div class="box has-background-success-light title  is-5 has-text-centered">Update Details:</div>
  {{>update-user}}
  {{>cancel-delete-user}}
</section>