<form action="/find/addpoint" method="POST">
  <div class="field is-horizontal mt-6">
    <div class="field-body has-text-centered is-vcentered">
      <div class="field">
        <label class="label mt-5">Enter your point of interest</label>
        <input class="input" type="text" placeholder="Required" name="name">
      </div>
      <div class="field">
        <label class="label mt-5">Country</label>
        <input class="input" type="text" placeholder="Required" name="country">
      </div>
      <div class="field">
        <label class="label mt-5">Longitude</label>
        <input class="input has-text-centered has-text-weight-bold" type="text" placeholder="-" name="longitude" disabled>
      </div>
      <div class="field">
        <label class="label mt-5">Latitude</label>
        <input class="input has-text-centered has-text-weight-bold" type="text" placeholder="-" name="latitude" disabled>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label has-text-centered mt-5">Description</label>
    <input class="input" type="text" placeholder="Optional" name="description">
  </div>
  <button class="button is-fullwidth is-black is-rounded is-outlined" href="/dashboard">{{>icons/plus}}</button>
</form>
