<form action="/point/{{point._id}}/addcomment" method="POST">
  <div class="box has-text-centered has-background-success-light">
    <div class="columns">
      <div class="column">
        <h1  class="subtitle has-text-weight-medium has-text-black pl-6">
          Add comment
        </h1>
      </div>
      <div class="column is-1 has-text-centered is-vcentered">
        <button class="button is-success">{{>icons/plus}}</button>
      </div>
    </div>
    <div class="field is-horizontal mb-6">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Add a comment" name="comment">
        </div>
      </div>
    </div>
  </div>
</form>