
<div class="columns is-multiline has-text-justified" style="padding-left: 170px;">
  <label class="column is-one-third checkbox">
    <input type="checkbox"> National Monument
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Walking Trail
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Bridge
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Tree
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Venue
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> River
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Island
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Forest
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Beach
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Museum
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Climb
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Cycleway
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Diving
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Birdwatching Locations
  </label>
  <label class="column is-one-third checkbox">
    <input type="checkbox"> Ringfort
  </label>
</div>


<script>
  
  document.addEventListener("DOMContentLoaded", () => {

    // Setting local storage for favourite cities from the user
    document.querySelectorAll("[id^=category]").forEach(checkbox => {
        checkbox.addEventListener('click', (event) => {
        const category = event.target.id.replace('category','');
        const isChecked =  event.target.checked;
        localStorage.setItem(category, isChecked);
        })
    });

    document.querySelectorAll("[id^=category]").forEach(checkbox => {
        const category = checkbox.id.replace('category','');
        const isChecked = localStorage.getItem(category) === 'true';
        checkbox.checked = isChecked;
    });
  });
</script>