<div class="title p-6 is-flex">
  {{>icons/map-marker}}
  <div class="container ml-4">
    <div class="is-size-2 mt-1">Place Mark</div>
    {{!-- <div class="is-size-4"><br/>Find your point of interest</div> --}}
  </div>
</div>

