{{> menu}}

<section class="section p-2">
  <div class="has-text-centered mb-4 mt-0 py-1">
    <div class="columns has-text-centered mt-2">
      <div class="column is-one-quarter">
        <a class="button is-white" href="//point/{{_id}}">{{>icons/back}}</a>
      </div>
      <div class="column is-6">
        <div class="title mr-6 pr-7 is-capitalized">
        {{point.name}}
        </div>
      </div>
    </div>
  </div>
  {{> list-pointDetails}}
</section>